// 컨텐츠 크기
$container-width: 1300px;

// 메인 컬러
$color-primary: #957c6b;
$color-variant: #cebcad;

//서브 컬러
$color-green01:#d0cfbe;
$color-green02:#a6a68e;
$color-footer-gray: #bcbcbc;
$color-gray01: #f5f5f5;
$color-gray02: #939597;
$color-gray03: #4d4d4d;

$color-black: #444444;
$color-white: #ffffff;


// 반응형
$breakpoint-pc: 1024px; // 1024px ~
$breakpoint-tablet: 768px; // 768px ~ 1023px
$breakpoint-mobile: 360px; // 360px ~ 767px
$breakpoint-smallest: 270px; //320px ~ 359px


